.home {
	width: 80%;
	max-width: 350px;
	height: 84px;
	border: 3px solid #078080;
	background: #078080;
	color: white;
	margin: 10px;
	font-size: 20px;
	border-radius: 5px;
}

.home:hover{
	cursor: pointer;
	filter: brightness(0.8);
}

.grayout{
	color: lightgray;
}

.button-container{
	width: calc(50% - 2px);
	display: inline-block;
	text-align: center;
	overflow-x: auto;
	height: 300px;
}

.button-container div{
	height: 50%;
}

.button-container>div>a>button{
	margin-top: calc(32px);
}

@media screen and (max-width: 800px){
	.button-container{
		width: 100% !important;
		margin-top: 30px;
	}
}

.heading-title{
	padding-top: 25px;
}

.recent-project-container{
	width: 100vw;
	margin-left: -10vw;
	height: auto;
	overflow: hidden;
	background-size: cover;
}

.recent-project-container>div{
	width: 100vw;
	height: 100%;
	background: #feefe8;
	padding: 25px;

	padding-top: 10px;
	margin: 0 auto;
}

.recent-project-container>div:last-child{
	overflow-x: auto;
	white-space: nowrap;
	text-align: center;
}

.recent-project-container>div>*{
	color: #232323;
	padding-right: 25px;

}

.recent-project-container>div>p{
	color: #222525;
	padding-right: 50px;
}

.recent-project-container button{
	border: 0;
	background: #078080;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;

}

.recent-project-container a {
	color: white;
}

.recent-project-container>div>h3>span{
	font-size: 12px;
	font-weight: lighter;
}