.dropdown-menu{
	width: 310px;
	top: 66px;
	left: 25px;
	height: 160px;
	background: rgb(35,35,35);
	z-index: 1003;
	border: 1px solid white;
	position: fixed;
	font-family: Courier, monospace;
	line-height: 5px;
}

.dropdown-menu>p{
	font-size: 11px;
	padding-left: 10px;
	color: lightgray;
}

.dropdown-menu>p:first-child{
	line-height: 20px;
}

.dropdown-menu>p>a{
	padding-left: 10px;
}

.dropdown-menu>p>a:hover{
	color: pink !important;
}

.dropdown-menu>p:nth-child(even){
	color: gray;
}

.dropdown-menu>p>a{
	font-size: 11px;
	color: white;
	text-decoration: none;
	text-decoration: bold;

}

.dropdown-menu>p>a:visited{
	font-size: 11px;
	color: lightgreen;

}

@media screen and (max-width: 380px){
	.dropdown-menu{
		width: 90%;
		height: auto;
	}
}

