
body {
  margin: 0;
  font-family: 'helvetica', cursive;
  background: #f8f5f2;
  color: #00473e;
}

a {
  text-decoration: none;
  color: #f45d48;

}

blockquote {
  margin: 0;
  margin-left: 15px;
  padding-left: 15px;
  border-left: 4px solid darkgray;
  line-height: 30px;

}

input[type=text] {
  font-size: 20px;
  color: gray;
  transition-duration: 0.25s;
  width: 150px;
}

input[type=text]:focus{

  outline: none;
  color: black;
}

hr {
  background: lightgray;
  border: 0.5px solid lightgray;
  width: 100%;
  margin-bottom: 30px;
}

textarea{
  height: 100px;
  width: 100%;
  max-width: 100%;
  min-width: 140px;
}

code{
  border-radius: 5px;
  padding: 2.5px;
  padding-left: 5px;
  padding-right: 5px;
}

@-webkit-keyframes autofill {
    0%,100% {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.auth-card{
  width: 300px;
  height: auto;
  margin: 50px auto;
}

@media screen and (max-width: 450px){
  .auth-card{
    width: calc(100% - 80px);
  }
}

.auth-card input[type=email], 
.auth-card input[type=password], 
.auth-card input[type=name]{
  width: calc(100% - 40px);
  height: 50px;
  font-size: 20px;
  border-radius: 50px;
  border-color: rgb(60,60,60);
  border-style: solid;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 2px;
  background: #f8f5f2 !important;
  transition-duration: 0.25s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #f8f5f2 inset !important;
}

.auth-card input[type=email]:focus, 
.auth-card input[type=password]:focus, 
.auth-card input[type=name]:focus{
  outline: none;
}


.auth-card label {
  position: absolute;
  margin-top: 10px;
  margin-left: 30px;
  background: #f8f5f2;
  padding-left: 5px;
  padding-right: 5px;
  min-width: auto;
  overflow-x: auto;
  border-radius: 15px;

}

.submit-button{
  width: 75px;
  height: 25px;
  border-radius: 25px;
  border: 1.5px solid black;
  cursor: pointer;
}
.submit-button:hover{
  background: lightgray;
}

.breadcrumb{
  color: lightgray !important;
}
.breadcrumb::before{
  content: "/";
  color: lightgray;
}
.breadcrumb:hover{
  color: gray !important;
}

p.author{
  color: darkgray !important;
}

.tags{
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.tags>div{
  font-size: 12px;
  margin-left: 10px;
  display:inline-block;
  padding:5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background:darkgray;
  color:white;
  margin: 5px;
}

.tags>div:hover{
  background: #f45d48;  
  cursor: default;
}