.popup{
	background: rgb(240,240,240);
}

.popup>*{
	position: relative;
}


.display-container{
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.box{
  background: darkgray;
  width:200px;
  height:200px;
  margin:25px;
  display: inline-block;

}