.Nav{
	width: 250px;
	height: 100px;
	top: 0; left: 0;
	background: transparent;
	position: fixed;
	z-index: 1005;

}

.Nav>p{
	font-family: Courier, monospace;
	padding-top: 25px;
	padding-left: 25px;
	color: rgb(35,35,35);
	font-size: 15px;
}

.Nav>p>span{
	padding: 10px;
	color: white;
	background: rgb(35,35,35);
	cursor: pointer;
	border: 1px solid white;
	border-bottom: none;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@keyframes blinkingCursor{
	0%{
		border-bottom: 2px solid transparent;
	}
	100%{
		
		border-bottom: 2px solid white;
	}
}

span>span>div{
	display: inline-block;
	width: 25px;
	background: rgb(35,35,35);
	height: 25px;
	position: absolute;
	margin-top: -3px;
	margin-left: -1px;
	padding-left: 5px;
	transform: scaleX(0.8);
}

.Nav>p>span>span{
	transition-duration: 0.5s;
}

.Nav>p>span>span:hover{
	color: #9A3AE3;
}

.Nav>p>span>span:last-child{
	animation: blinkingCursor 1s linear infinite alternate;
	color: transparent;
}

.Nav-dropdown{
	width: 50px; height: 50px;
	background: black;
	position: fixed;
	top: 100px;
	opacity: 0;
}