.container.main{
	background: white;
}


.container>div{
		backdrop-filter: blur(2px);

	padding: 100px;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 0;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
	color: #232323 !important;
}

.container p,
.container ul {
	color:  #222525 !important;
}