.centerIcon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title-heading{
}
.like-inactive {
	overflow:  hidden;
	border-color: transparent;
	border-radius: 0;
	background: url("https://img.icons8.com/material-outlined/96/000000/facebook-like--v1.png");
	background-size: cover;
	background-repeat: no-repeat;

}

.like-active {
	overflow:  hidden;
	border-color: transparent;
	border-radius: 0;
	background: url(https://img.icons8.com/material-sharp/96/000000/facebook-like--v1.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.title-heading{
	text-transform: capitalize;
}

.like-active input, .like-inactive input{
	width: 30px;
	height: 30px;
	padding: 0;
	position: absolute;
	background: none;
	border: none;
	cursor: pointer;
}

.activity-indicator{
	height: 20px;
	padding: 5px;
	padding-left: 40px;
	background: grey;
	color: white;
	border-radius: 25px;
}
.activity-indicator::before{
	content: "";
	width: 15px;
	height: 15px;
	margin-top: 2.5px;
	margin-left: -25px;
	background: white;
	position: absolute;
	border-radius: 50%;
}

.activity-indicator.in-progress{
	background: orange !important;
}
.activity-indicator.inactive{
	background: red !important;
}
.activity-indicator.active{
	background: green !important;
}


