@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&display=swap');

.banner{
	margin-top: 75px;
}

.name-container{
	text-align: center;
	margin-top: -50px;
}

.name-container>h1 {
  line-height: 80px;
  font-size: 60px;
  font-family: Asap;
  color: rgb(60,60,60);

}

@media screen and (max-width: 700px){
	.name-container>h1 {
	  line-height: 90px;
	}
}

@media screen and (max-width: 700px){
	.banner{
		font-size: 3.5vw;
		line-height: calc(100px);
	}
}