.portfolio-page a{
	color: rgb(60,60,60);
	text-decoration: none;
}

.portfolio-page a:hover{
	color: rgba(100,100,100);
}
.portfolio-page h3{
	text-align: center;
}

.portfolio-page h3+p{
	color: rgb(200,200,200);
	line-height: 0;
	padding-left: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 12px;
}


.portfolio-page p+hr{
	border: 0.5px solid darkgray;
	width: 70%;

}
.tag-items>span:nth-child(1)::before{
	content: " ";
}
.tag-items>*::before{
	content: " - ";
}

.PortfolioListContainer{
	text-align: center;
}

.change-box {
	width: 30px;
	height: 30px;
	margin-top: -10px;
	margin-right: -5px;
	border-radius: 5px;
	border: 4px solid rgb(60,60,60);

}

.edit{
	float: right;
	background: green;
	border-color: green;
	margin-right: 30px;
}

.delete{
	float: right;

	background: red;
	border-color: red;
}

.delete input {
	width: 100%;
	height: 100%;
	background: none;
	border: none;
	cursor: pointer;
}

.create{
	float: right;
	background: rgb(60,60,60);
	background-image: url("https://img.icons8.com/material-outlined/96/000000/new-file.png");
	filter: invert(100%);
	background-size: contain;
}

.create:hover{
	background-color: rgb(100, 100, 100);
	border-color: rgb(100, 100, 100);
}