.index-list{
	margin: 0 auto;
	width: calc(80vw);
	margin-left: -10vw;
	padding-left: 10vw;
	height: auto;
	background:#feefe8;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 10vw;
	margin-top: 50px;
	margin-bottom: 50px;
}

.index-list a{
	color: rgb(60,60,60);
}

.index-list>ul{
	font-weight: bold;
}

.index-list>ul ul{
	font-weight: normal;

}

.index-list hr {
	margin-top: 15px;
	margin-bottom: 15px;
}