.index-list{
	margin: 0 auto;
	width: calc(80%);
	height: auto;
}

.index-list a{
	color: rgb(60,60,60);
}

.index-list>ul{
	font-weight: bold;
}

.index-list>ul ul{
	font-weight: normal;

}

.index-list hr {
	margin-top: 15px;
	margin-bottom: 15px;
}